* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
  

body{
    background-color: wheat;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

}

body a {
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*menyn*/

.header-menu{
    background-color:rgb(87, 80, 112) ;
    border-bottom: solid rgb(66, 66, 77) 10px;
    color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    z-index: 1;
}

.header-menu img{
    width: 102px;
    height: 95px;
    margin-left: 65px;
}

.link-menu a{
    margin: 60px;
    margin-right: 100px;
    font-size: 20px;

}

.link-menu{
    margin-right: 30px;
    margin: 60px;
    margin-right: 100px;
    font-size: 20px;

}

.header-menu a:hover {
    background-color: wheat;
    border-radius: 20px;
    padding: 0px 10px;
    box-shadow: 5px 5px 15px 5px #000000;
}

/*telefonsymbol på sidan*/

.contact i{
    margin-right: 18px;
    margin-top: 860px;
    font-size: 35px;
    position: fixed;
    right: 0;
    align-items: right;
    color: brown;
}

.contact i:hover{
    display: flex;
    transform: scale(1.8);
}

/*välkommen bild*/

.home-photo {
    width: 100%;
    display: flex;
    
}

.home-photo img {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
    margin-top: 80px;
    position: relative;
}

.home-photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px); /*ta reda på hur det funkar*/
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}

.home-photo-overlay a {
    text-decoration: none;
    background-color: transparent;
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 20px;
    color: wheat;
}

.home-photo-overlay h1{
    color: wheat;
    font-size: 45px;
}

.home-photo-overlay a:hover{
    background-color: blanchedalmond;
    color: black;
    transform: scale(1.2);
    box-shadow: 5px 5px 15px 5px #000000;
}

/*home sida*/

.first {
display: flex;
justify-content: space-between;
align-items: center;
margin: 80px;
margin-top: 120px;
}

.first h3, .first p, .second h3, .second p, .third h3, .third p, .fourth h3, .fourth p{
    margin-bottom: 50px;
}

.fourth a, .first a, .second a, .third a{
    border-bottom: solid rgb(87, 80, 112) 6px;
}

.first img {
    width: 100%;
    height: calc(70vh - 170px);
    margin-left: 120px;
    border-radius: 40px;
    box-shadow: 5px 5px 15px 5px #000000;
}

.second {
display: flex;
justify-content: space-between;
align-items: center;
margin: 80px;
}

.second img {
    width: 100%;
    height: calc(80vh - 220px);
    margin-right: 120px;
    border-radius: 40px;
    box-shadow: 5px 5px 15px 5px #000000;
}

.third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
}


.third img {
    width: 100%;
    height: calc(70vh - 180px);
    margin-left: 120px;
    border-radius: 40px; 
    box-shadow: 5px 5px 15px 5px #000000;
}

.fourth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
}

.fourth h3, .first h3, .second h3, .third h3{
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    font-size: 40px;
}

.fourth img {
    width: 100%;
    height: calc(80vh - 250px);
    margin-right: 120px;
    border-radius: 40px;
    box-shadow: 5px 5px 15px 5px #000000;
}

/*footer delen*/

.footer {
    padding:40px 0;
    background-color:wheat;
    color: black;
    width: 100%;
    border-top: solid rgb(87, 80, 112) 10px;
    margin-top: 120px;
  }
  

  
  .footer .social {
    text-align:center;
    
  }
  
  .footer .social > a {
    font-size:30px;
    width:50px;
    height:50px;
    line-height:50px;
    display:inline-block;
    border-radius:50%;
    border:2px solid grey;
    margin:0 8px;
    color: black;
    opacity:0.75;
  }
  
  .footer .social a:hover {
    opacity:0.9;
  }
  
  .footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:black;
    margin-bottom:0;
  }

  .footer .info {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:black;
    margin-bottom:0;
  }


a:link {
color:black;
}


a:visited {
color: none;
}


a:hover {
color: black;
text-decoration: none;
}


a:active {
color: black;
}
  
/*about us delen*/

@media only screen and (max-width: 768px){
    #formular {
    width: 90%;
    }
    }
    
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }

    .our-team {
        color: rgb(87, 80, 112);
        padding-top: 15px;
        padding-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
      }
      
      .column {
        float: left;
        width: 25%;
        margin-bottom: 20px;
        margin-left: 80px;
        padding-top: 20px;
      }
      
      .card {
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 1s ease;
      }
      
      .card:hover{
        transform: scale(1.1);
        transition: 1s ease;
      }
      
      .container {
        padding: 14px 14px;
      }
      
      .container::after, .row::after {
        display: table;
      }
      
      .container h2 {
        color: rgb(87, 80, 112);
        text-align: center;
      }
      
      .container h6 {
        color: grey;
        text-align: center;
        padding-bottom: 10px;
      }
      
      .button {
        color: rgb(87, 80, 112);
        border: solid 2px rgb(87, 80, 112);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        line-height: 1;
        font-size: 18px;
        background-color: transparent;
        padding: 7px;
        margin-top: 15px;
        text-decoration: none;
        transition: ease-out 0.2s;
      }
      
      .button:hover {
        background-color: rgb(87, 80, 112);
        color: #000;
      }
      
      .form h1 {
        color: rgb(87, 80, 112);
        text-align: center;
        text-transform: uppercase;
      }
      
      .form {
        width: 600px;
        background-color: #fff;
        margin-left: 25%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10px;
        font-size: 14px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      
      #form input[type=text],
      #form input[type=email] {
        width: 100%;
        padding: 5px 3px 5px 5px;
        margin-bottom: 10px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 14px;
      }
      
      #form input[type=submit] {
        width: 100%;
        margin: 10px 0;
        color: rgb(87, 80, 112);
        border: solid 2px rgb(87, 80, 112);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        line-height: 1;
        font-size: 18px;
        background-color: transparent;
        padding: 15px;
        text-decoration: none;
        transition: ease-out 0.2s;
      }
      
      #form input[type=submit]:hover {
        background-color: rgb(87, 80, 112);
        color: #000;
      }    